:root {
    --blue-color: #007bff;
    --cyan-color: #17a2b8;
    --very-light-gray-color: #F7F7F7;
    --light-gray-color: #D8D8D8;
    --gray-color: #818188;
    --very-dark-gray-color: #181818;

    --dark-blue-color: #001021;
    --green-blue-color: #034748;
    --blue-color: #1481BA;
    --light-blue-color: #0ccadc;
    --very-light-blue-color: #11B5E4;

    --light-orange-color: #fcb72d;
    --orange-color: #e58d22;
    --orange-color-triplets: 229, 141, 34;

    --global-max-width: 600px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: var( --dark-blue-color );
}
